<div>
  <h1 class="text-2xl font-bold text-gray-800 text-center mt-5">
    Your On-Demand Video Storage!
  </h1>
  <img
    class="absolute top-[0%] left-[60%] h-[40%] w-[40%] rotate-[5deg] object-contain"
    src="https://res.cloudinary.com/damvltogi/image/upload/v1732313049/yxkb1lbhaa25pyactdft.svg"
    alt=""
  />
  <img
    class="absolute top-[30%] left-[35%] h-[30%] w-[30%] object-contain"
    src="https://res.cloudinary.com/damvltogi/image/upload/v1732313049/lkrpfzwzxmpbrenbwj6k.svg"
    alt=""
  />
  <img
    class="absolute top-[50%] left-[10%] h-[25%] w-[25%] rotate-[1deg] object-contain"
    src="https://res.cloudinary.com/damvltogi/image/upload/v1732313049/noksef6qqdmvzrsz1kiq.svg"
    alt=""
  />
  <img
    class="absolute top-[70%] left-[60%] h-[35%] w-[35%] rotate-[12deg] object-contain"
    src="https://res.cloudinary.com/damvltogi/image/upload/v1732313424/pii2fsjaqjnfxh9dba0j.svg"
    alt=""
  />
  <img
    class="absolute top-[80%] left-[40%] h-[18%] w-[18%] rotate-[6deg] object-contain"
    src="https://res.cloudinary.com/damvltogi/image/upload/v1732313439/st9sull2bsje83f5khf4.svg"
    alt=""
  />
  <img
    class="absolute top-[5%] left-[15%] h-[28%] w-[28%] rotate-[1deg] object-contain"
    src=" https://res.cloudinary.com/damvltogi/image/upload/v1732313933/vwz4trwpmrgqhlterr4c.svg"
    alt=""
  />
  <img
    class="absolute top-[25%] left-[70%] h-[30%] w-[30%] rotate-[1deg] object-contain"
    src="https://res.cloudinary.com/damvltogi/image/upload/v1732313960/xwbo4fvpaah5cizzb617.svg"
    alt=""
  />
</div>
