<div class="relative w-full max-w-6xl mx-auto">
  <ng-container *ngIf="hasData(); else noData">
    <div *ngFor="let genre of data | keyvalue">
      <app-carousel [genre]="genre.key" [slides]="genre.value"></app-carousel>
    </div>
  </ng-container>
  <ng-template #noData>
    <div
      class="flex justify-center items-center h-48 bg-gray-100 border border-gray-300 rounded-lg mt-5"
    >
      <p class="text-lg text-gray-600 font-bold">No videos available.</p>
    </div>
  </ng-template>
</div>
